<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fabbandco.link2goactivity"
    android:versionCode="40"
    android:versionName="1.1.0.0" >
	
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<permission android:name="com.fabbandco.link2goactivity.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
	   
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.fabbandco.android.application.Link2GoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        
        <activity
            android:name="com.fabbandco.link2goactivity.HomeListActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.fabbandco.link2goactivity.LoginLink2GoActivity"
            android:label="@string/app_name" >
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.fabbandco.link2goactivity.MdpLostLink2GoActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.fabbandco.link2goactivity.HomeDetailActivity"
            android:label="@string/title_home_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeListActivity" />
        </activity>
        
        <receiver android:name="com.fabbandco.android.api.SmsReceiver" android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".GcmBroadcastReceiver"  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.fabbandco.android.gcm" />
            </intent-filter>
        </receiver>
   </application>

</manifest>
